* {
    margin:0px;
    padding: 0px;

}
h1 , h2 , form , a {
    color:white;
    text-align: center;
}
form{
margin:5px;
padding:2rem;
border: dashed white ;
box-sizing: border-box;
}
#button{
    color:black;;
    background-color:yellow;
}
